<div class="container-fluid">
    <div class="alert-box">
        <uib-alert class="pull-right alert-hor" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout=5000>{{alert.msg}}</uib-alert>
    </div>
    <div class="row">
        <uib-tabset>
            <uib-tab index=0 heading="IOCs in database">
                <div class="panel panel-default panel-body">
                    <div class="row"><!-- list panel controls -->
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class=" glyphicon glyphicon-search"></span></span>
                                <input type="text" class="form-control" ng-model="iocTable.search" placeholder="Name, type, value"></input>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group pull-right">
                                <button type="button" class="btn btn-success" ng-click="newIoc()">
                                    <span class="glyphicon glyphicon-plus"></span> New IOC
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-condensed">
                        <thead><!-- list table head -->
                            <tr>
                                <th ng-repeat="col in iocTable.layout" width="{{col.width}}">
                                    <a href="#/ioc" ng-click="orderBy(iocTable, col.title)">
                                        <span class="text-capitalize">{{col.title}}</span>
                                        <span ng-show="iocTable.sort.col == col.title && iocTable.sort.reverse" class="glyphicon glyphicon-triangle-top small"></span>
                                        <span ng-show="iocTable.sort.col == col.title && !iocTable.sort.reverse" class="glyphicon glyphicon-triangle-bottom small"></span>
                                    </a>
                                </th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody><!-- list table body -->
                            <tr ng-repeat="ioc in iocList | orderBy:iocTable.sort.col:iocTable.sort.reverse | filter:iocTable.search">
                                <td>{{ioc.name}}</td>
                                <td><code class="text-uppercase">{{ioc.type}}</code></td>
                                <td>
                                    <span ng-class="{'text-muted': ioc.value == ''}"><samp>{{ioc.value | blank}}</samp></span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-xs" ng-click="detail(ioc.id)">
                                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="edit(ioc.id)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="del(ioc.id)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index=1 heading="Removed IOCs">
                <div class="panel panel-default panel-body">
                    <div class="row"><!-- del panel controls -->
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class=" glyphicon glyphicon-search"></span></span>
                                <input type="text" class="form-control" ng-model="delTable.search" placeholder="Name, type, value"></input>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-condensed">
                        <thead><!-- del table head -->
                            <tr>
                                <th ng-repeat="col in delTable.layout" width="{{col.width}}">
                                    <a href="#/ioc" ng-click="orderBy(delTable, col.title)">
                                        <span class="text-capitalize">{{col.title}}</span>
                                        <span ng-show="delTable.sort.col == col.title && delTable.sort.reverse" class="glyphicon glyphicon-triangle-top small"></span>
                                        <span ng-show="delTable.sort.col == col.title && !delTable.sort.reverse" class="glyphicon glyphicon-triangle-bottom small"></span>
                                    </a>
                                </th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody><!-- del table body -->
                            <tr ng-repeat="ioc in iocDelList | orderBy:delTable.sort.col:delTable.sort.reverse | filter:delTable.search">
                                <td>{{ioc.name}}</td>
                                <td><code class="text-uppercase">{{ioc.type}}</code></td>
                                <td>
                                    <span ng-class="{'text-muted': ioc.value == ''}"><samp>{{ioc.value | blank}}</samp></span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="res(ioc.id)"uib-tooltip="Restore">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>