<div class="modal-header">
    <h3 class="modal-title">IOC details</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ioc.id}}</dd>
        <dt>Name</dt>
        <dd>{{ioc.name}}</dd>
        <dt>Type</dt>
        <dd class="text-uppercase">{{ioc.type}}</dd>
        <div ng-show="values.length > 0">
            <br>
            <dt>Values:</dt>
            <dd></dd>
        </div>
        <div ng-repeat="entry in values">
            <dt>{{entry.name}}</dt>
            <dd style="word-wrap: break-word;"><samp>{{entry.value}}</samp></dd>
        </div>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">Close</button>
</div>