<div class="container-fluid">
    <div class="alert-box">
        <uib-alert class="pull-right alert-hor" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout=5000>{{alert.msg}}</uib-alert>
    </div>
    <div class="row">
        <div class="panel panel-default panel-body">
            <table class="table table-hover table-condensed">
                <thead><!-- list table head -->
                    <tr>
                        <th ng-repeat="col in table.layout" width="{{col.width}}">
                            <a href="#/report" ng-click="orderBy(table, col)">
                                <span>{{col.title}}</span>
                                <span ng-show="table.sort.col.title == col.title && table.sort.reverse" class="glyphicon glyphicon-triangle-top small"></span>
                                <span ng-show="table.sort.col.title == col.title && !table.sort.reverse" class="glyphicon glyphicon-triangle-bottom small"></span>
                            </a>
                            <div style="font-weight: initial;">
                                <input ng-if="col.title != 'Time' && col.title != 'Result'" type="text" ng-model="table.search[col.sort]" class="form-control" placeholder="Filter"></input>

                                <div ng-if="col.title == 'Time'">
                                    <input class="form-control hidden-input pull-left" type="text" uib-datepicker-popup="''" ng-model="date.start" is-open="date.startOpened" datepicker-options="date.options" show-button-bar="false"></input>
                                    <input class="form-control hidden-input pull-left" type="text" uib-datepicker-popup="''" ng-model="date.end" is-open="date.endOpened" datepicker-options="date.options" show-button-bar="false"></input>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="date.openStart()">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control" ng-model="dateRange" style="padding: 6px;"></input>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="date.openEnd()">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>

                                <div ng-if="col.title == 'Result'" class="btn-group" data-toggle="buttons-checkbox">
                                    <button type="button" class="btn btn-success col-xs-6" ng-model="table.search.result" uib-btn-radio="'0'" uncheckable><span class="glyphicon glyphicon-ok"></span></button>
                                    <button type="button" class="btn btn-danger col-xs-6" ng-model="table.search.result" uib-btn-radio="'1'" uncheckable><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody><!-- list table body -->
                    <tr ng-repeat="row in reportList | orderBy:table.sort.col.sort:table.sort.reverse | filter:table.search">
                        <td>{{row.org}}</td>
                        <td>{{row.device}}</td>
                        <td>{{row.timestamp * 1000 | date:'dd. MMM yy, HH:mm'}}</td>
                        <td>{{row.setname}}</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-9" style="padding-right:0">
                                    {{row.iocName}}
                                </div>
                                <div class="col-sm-3" style="padding-left:0">
                                    <span class="pull-right">
                                    	<button ng-if="showDetailButton(row.ioc_id)" type="button" class="btn btn-default btn-xs" ng-click="detail(row.ioc_id)"><span class="glyphicon glyphicon-menu-hamburger"></span></button></span>
                                	</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-show="row.result" class="text-danger"><span class="glyphicon glyphicon-remove"></span> <samp>FOUND</samp></span>
                            <span ng-hide="row.result" class="text-success"><span class="glyphicon glyphicon-ok"></span> <samp>CLEAR</samp></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>