<div class="modal-header">
    <h3 class="modal-title">IOC details</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ioc.id}}</dd>
        <dt>Name</dt>
        <dd>{{ioc.name}}</dd>
        <dt>Type</dt>
        <dd>{{ioc.type}}</dd>
        <br>
        <div ng-repeat="entry in values">
            <dt>{{entry.name}}</dt>
            <dd>{{entry.value}}</dd>
        </div>
        <div ng-show="hasParent">
            <br>
            <dt>Parent</dt>
            <dd>
                {{parent.name}}
                <button type="button" class="btn btn-default btn-xs" ng-click="detail(parent.id)" uib-tooltip="Details">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </dd>
        </div>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">Close</button>
</div>