<div class="tree-node">
    <span uib-popover-template="'templates/treePopover.html'" popover-popup-delay=0 popover-trigger="outsideClick" popover-placement="right" popover-is-open="tree.open">
    	<span ng-if="tree.type != 'and' && tree.type != 'or'" class="label label-default label-button label-code">
    		<code class="text-uppercase">{{tree.type}}</code>{{tree.name}}
   		</span>
    	<span ng-if="tree.type == 'and' || tree.type == 'or'" class="label label-warning label-button label-code label-code-only">
    	<code class="text-uppercase">{{tree.type}}</code>
    	</span>
	</span>
</div>
<ul class="tree">
    <li class="tree-node" ng-repeat="tree in tree.children track by $index" ng-include="'templates/treeTemplate.html'"></li>
</ul>